<footer class="bg-[#11732E] text-white py-10">
  <div class="max-w-6xl mx-auto grid md:grid-cols-5 gap-10 px-6">

    <!-- LOCATION -->
    <div>
      <h3 class="font-bold text-lg mb-4">Eneo / Mahali</h3>
      <p>TAASISI YA UTAFITI WA KILIMO TANZANIA</p>
      <p>Jamhuri ya Muungano wa Tanzania</p>
      <p class="mt-2">
        Makao Makuu , Makutupora, Barabara ya Arusha,  
        P.O. Box 1571, DODOMA.
      </p>
    </div>

    <!-- CONTACT -->
    <div>
      <h3 class="font-bold text-lg mb-4">Wasiliana Nasi</h3>
      <p>📧 dg@tari.go.tz</p>
      <p>📞 +255 (0) 26 296 1995</p>
      <p>📞 +255 (0) 26 296 1993</p>
    </div>

    <!-- QUICK LINKS -->
    <div>
      <h3 class="font-bold text-lg mb-4">Kurasa za Karibu</h3>
      <ul class="space-y-1">
        <li ><a href="#">GePG</a></li>
        <li><a href="#">E-Office</a></li>
        <li><a href="#">Central ODK</a></li>
        <li><a href="#">RBMS Portal</a></li>
        <li><a href="#">NAREC Portal</a></li>
        <li><a href="#">Barua pepe</a></li>
      </ul>
    </div>


  <!-- SECOND ROW LINKS -->

    <div>
      <h3 class="font-bold text-lg mb-4">Tovuti Mashuhuri</h3>
      <ul class="space-y-1">
        <li><a href="#">Wizara ya Kilimo</a></li>
        <li><a href="#">TOSCI</a></li>
        <li><a href="#">ASA</a></li>
        <li><a href="#">TFRA</a></li>
        <li><a href="#">Vibali vya Kusafiri</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>

    <div>
      <h3 class="font-bold text-lg mb-4">Tovuti Muhimu</h3>
      <ul class="space-y-1">
        <li><a href="#">Watumishi Portal</a></li>
        <li><a href="#">NeST</a></li>
        <li><a href="#">Saini</a></li>
        <li><a href="#">E-Mikutano</a></li>
        <li><a href="#">HCMIS</a></li>
          <li><a href="#">UFADHILI WA TARI</a></li>
      <li><a href="#">MuSe</a></li>
      </ul>
    
    
    </div>

  </div>

  <!-- COPYRIGHT -->
  <div class="text-center mt-10 text-sm opacity-80">
    © 2026 TARI - Taasisi ya Utafiti wa Kilimo Tanzania
  </div>
</footer>